@font-face {
  font-family: 'DecimaMonoPro';
  font-style: normal;
  src: local('DecimaMonoPro'), url(./fonts/DecimaMonoPro.ttf) format('ttf');
}


body {
  font-family: 'DecimaMonoPro', sans-serif;
}

.landing {
  height:100%;
  width:100%;
  top:0;
  left:0;
  margin:0;
  padding:0;
  position: fixed;
  background-color: #21CE99;
}

.landingBanner {
  height:70%;
  left:20%;
  top:15%;
  position:absolute;
}

.loginForm {
  position: absolute;
  left:60%;
  top:40%;
}

.createUser {
  height:100%;
  width:100%;
  top:0;
  left:0;
  margin:0;
  padding:0;
  position: fixed;
  background-color: #FDFDFD;
}

.createUserBanner {
  height:100%;
  left:20%;
  top:0;
  position:absolute;
}


.navBar {
  padding:0;
  width:100%;
  top:0;
  left:0;
  position:fixed;
  display:flex;
  height:8%;
  background-color: #FDFDFD;
  color: #21CE99;
}

.navBar i {
  position: absolute;
  top:40%;
  right:1%;
}

.navBar a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navBar h1 {
  top:37%;
  left:1%;
  position:relative;
  margin:0;
  font-size: 2em;
}

.exchangeBar {
  padding:0;
  width:100%;
  top:8%;
  left:0;
  position:fixed;
  height:10%;
  background-color: grey;
  border: 1px solid black;
}

.transaction {
  padding:0;
  width:25%;
  top:18%;
  left:0;
  position:fixed;
  height:42%;
  /*background-color: grey;*/
  /*border: 1px solid black;*/
}

.history {
  padding:0;
  width:25%;
  top:60%;
  left:0;
  position:fixed;
  height:42%;
  background-color: grey;
  border: 1px solid black;
}

.graph {
  padding:0;
  width:75%;
  top:18%;
  left:25%;
  position:fixed;
  height:84%;
  background-color: grey;
  border: 1px solid black;
}
