@font-face {
  font-family: 'DecimaMonoPro';
  font-style: normal;
  src: url("/fonts/DecimaMonoPro.ttf");
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.col {
  /*margin: 0 !important;*/
  /*padding: 0 !important;*/
}

.row {
  /*margin: 0 !important;*/
  /*padding: 0 !important;*/
}

body {
  font-family: 'DecimaMonoPro', sans-serif;
  background-color: #A3E9D4;
  font-size: 0.85em;
  letter-spacing: -0.05em;
  overflow: hidden;
}

.landing {
  height:100%;
  width:100%;
  top:0;
  left:0;
  margin:0;
  padding:0;
  position: fixed;
  background-color: #21CE99;
}

.landingBanner {
  height:70%;
  left:20%;
  top:15%;
  position:absolute;
}

.loginForm {
  position: absolute;
  left:60%;
  top:40%;
}

.createUser {
  height:100%;
  width:100%;
  top:0;
  left:0;
  margin:0;
  padding:0;
  position: fixed;
  background-color: #FDFDFD;
}

.createUserBanner {
  height:100%;
  left:20%;
  top:0;
  position:absolute;
}

.content {
  top:90px;
  width:100%;
  height:75%;
  position: fixed;
  display:flex !important;

}

.header {
  display:flex;
  padding-left:12px;
  align-items: center;
  background-color: #EEEEEE;
  height: 35px;
  width: 100%;
  color: #888888;
}

.content > .col {
  padding:0 !important;
}

.navBar {
  font-size:1.05em;
  color: #21CE99 !important;
  margin: 0 !important;
  height:35px;
  width:100%;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #FDFDFD;
}

.navBar a {
  color: #888888;
}

.navBar a:hover {
  cursor: pointer;
  color: #DA4E28;
  text-decoration: none;
}

.navBar a:active {
  color: #DA4E28;
  text-decoration: none;
}



.exchangeBar {
  color:#888888;
  margin:0 !important;
  width:100%;
  top:35px;
  height:55px;
  position:absolute;
  display:flex;
  align-items: center;
}

.exchange-pair-title {
  display:flex;
  flex-direction: column;
  top: 3px;
  left: 8px;
  /*padding-left:6px !important;*/
  position: relative;
  color: #DA4E28;
  font-size:2.25em;
  line-height: 0.8em;
}

.exchange-chart-data-title {
  padding-left: 15px;
}

.exchange-chart-data-info {
  padding-left: 5px;
}

.exchRate {
  top:1.5px;
  position: relative;
  font-size:1.8em;
  margin:auto;
}

.percentChange {
  top:1.5px;
  position: relative;
  font-size:1.8em;
  margin:auto;
}

.total {
  width:100%;
  position: relative;
  display:flex;
  flex-direction:row;
}

/*.tabs .indicator { display: none; }*/
nav .tabs .tab a.active { border-bottom: 2px solid #DA4E28 !important; }
nav .tabs .indicator { border-bottom: 2px solid #DA4E28 !important; }

.transWrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.transWrapper .row {
  padding-left: 6px !important;
  padding-right: 6px !important;

}

.transaction {
  /*margin: 0px 3px 3px 3px !important;*/
  /*padding:0;*/
  width:240px;
  position:relative;
  background-color: #FDFDFD !important;
  border-radius: 1px;
  /*display:flex;*/
}

.row {
  margin: 0 !important;

}

.row .col {
  padding: 0 !important;
}

.row .col.s2 {
  margin: 0 !important;
  padding: 6px !important;
}

.row .col.s1 {
  margin: 0 !important;
  /*padding: 6px !important;*/
  /*right: 0;*/
  /*left: 0;*/
}

.transaction input {
  height:1em !important;
  top: 0;
  margin-top: 0 !important;
}

.transaction .input-field label {
  top: 0 !important;
  font-size:0.85rem !important;
}

.history {
  margin: 3px 0 0 0 !important;
  width:240px;
  position:relative;
  height:100%;
  background-color: #FDFDFD !important;
  border-radius: 1px;
  overflow: hidden;
}

.historyEntries {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  position: absolute;
}

.graph {
  height:100%;
  width:100%;
  position:relative;
  padding:6px 12px 6px 12px;
  border-bottom: 1px solid #D0D0D0;
  /*background-color: #EEEEEE;*/
}

content > .col-sm-8 {
  padding-left:0 !important;
  padding-right:0 !important;
}

.graphWrapper {
  display: flex;
  width:100%;
  height:85%;
  flex-grow:1;
  flex-wrap: wrap;
  position:relative;
  background-color: #FDFDFD;
  border-radius: 1px;
  order:0;
}

span.fwdSlash {
  font-size:0.8em !important;
}

.graphSpinner {
  /*display:flex;*/
  /*justify-content: center;*/
  /*align-content: center;*/
  margin:auto;
}

.trollbox {
  /*margin: 0px 3px 3px 3px !important;*/
  /*right:0;*/
  height:100%;
  display:flex;
  /*position:absolute;*/
  flex-flow: column wrap;
  align-content: space-between;
  width:240px;
  background-color: #FDFDFD !important;
  border-radius: 1px;
}

.messages-container {
  width: 100%;
  height: 80%;
}

.messages-container ul {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  overflow: auto;
}

.messages-container li {
  padding-left: 5px;
}

.message-input {
  border-top: .5px solid black;
  bottom:0;
  position: absolute;
  width: 100%;
  height:auto;
}

.graphcontrols {
  padding:6px;
  flex-direction: row;
  width:100%;
  height:15%;
  bottom:0;
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
}

.settingsBody {
  left:10%;
  width:80%;
  position:fixed;
}

.transfers {
  width:70%;
  position:fixed;
}
.currBtn {
  height:100%;
}
.footer {
  bottom:0;
  width:100%;
  height:auto;
  background-color:#EEEEEE;
}

.currBtn:hover {
  cursor:pointer;
  background-color: #EEE;
  transition: 0.3s;
}

.btnWrapper {
  height:45px;
  display:flex;
  /*align-items: flex-end;*/
  flex-direction: row;
}

.buyBtn {
  width:50%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  
  background-color: #21CE99;
  color:#FDFDFD;
  transition: 0.3s;
  bottom:0;  
}

.buyBtn:hover {
  cursor: pointer;
  background-color: #92EBC3;
  transition: 0.3s;
}

.sellBtn {
  width:50%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #DA4E28;
  color:#FDFDFD;
  transition: 0.3s;
  bottom:0;
}
.sellBtn:hover {
  cursor: pointer;
  
  background-color: #EB9F92;
  transition: 0.3s;
}

.trollBtn {
  width:240px;
  height:45px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #DA4E28;
  color:#FDFDFD;
  transition: 0.3s;
  bottom:0;
}
.trollBtn:hover {
  cursor: pointer;
  
  background-color: #EB9F92;
  transition: 0.3s;
}

.left-column {
  padding: 0 3px 0 3px !important;
  /*left:0;*/
  order:-1;
  display:flex;
  flex-direction: column;
  /*margin: 0 3px 3px 3px !important;*/
  /*flex-direction: column;*/
  /*position:fixed;*/
  flex-grow:0;

}

.center-column {
  /*padding: 0 3px 3px 3px !important;*/
  flex-grow:1;
  flex-wrap:wrap;
  /*flex-grow: 3;*/
}

.right-column {
  padding: 0 3px 3px 3px !important;
  order:1;
  flex-grow:0;
}

.balanceWrapper {
  width:100% !important;
  padding-top: 6px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
  padding-bottom: 12px !important;
  display:flex;
  justify-content: space-between;
  margin-bottom:12px !important;
  /*flex-direction: row;*/
  border-bottom: 1px solid #D0D0D0;
}
.balanceWrapper > span {

  padding-left: 6px !important;
  padding-right: 6px !important;
}


/*.balAmount {
  align-self:flex-end;
}*/

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  margin: 0 0 16px 0 !important;
}
